# EditorConfig is awesome: http://EditorConfig.org
# 用于统一编辑器代码风格

# 特殊属性应在任何部分之外的文件顶部指定。
# 设置为true以停止.editorconfig文件搜索当前文件。
root = true

# 对所有文件生效
[*]

# 换行符格式 lf / crlf
end_of_line = lf
# 文件编码(字符集) utf-8 / utf-8-bom / utf-16be / utf-16le / latin1
charset = utf-8

# indent_style：设置为选项卡或空格分别使用硬标签或软标签。
# indent_size：定义用于每个缩进级别的列数和软标签的宽度（支持时）的整数。当设置为选项卡时，tab_width将使用（如果指定）的值。
# tab_width：定义用于表示制表符字符的列数的整数。该值默认为indent_size通常不需要指定的值。

# 缩进类型 space / tab
indent_style = space

# 缩进数量 num(2/4) / tab
indent_size = 2

# 是否删除行尾的空格。
# 设置为true以删除换行符前面的任何空白字符，然后设置为false，以确保不存在。
trim_trailing_whitespace = true
# 是否在文件的最后插入一个空行。
# 设置为true以确保文件在保存时以换行符结尾，并且为false，以确保不存在。
insert_final_newline = true

# tab的长度
tab_width = 2

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
