$clr-primary:          #22C3AA;  // green
$clr-light:            #AEE2D9;  // light green
$clr-lighter:          #EEF3F0;  // lighter green
$clr-dark:             #008A75;  // dark green
$clr-darker:           #096254;  // darker green
$clr-contrast:         #99FF33;  // yellow green
$clr-def:              #666;
$clr-def-light:        #CCC;
$clr-def-lighter:      #EFEFEF;
$clr-def-lightest:     #FFF;
$clr-def-dark:         #444;
$clr-def-darker:       #333;
$clr-def-darkest:      #000;
